body{
    margin: 0;
    padding: 0;
    height: 100vh;
    background-repeat: no-repeat;
    background-position: 0 0;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
    opacity: 80%;
  }

h3{
    text-align: center;
    border-bottom: 50px;
}

.card-body{
    height: 350px;
}

#sendlogin{
    width: 100%;
}

#reset {
    width: 100%;
    background-color:#FFEF00;
    color:black;
    border-color: #FFEF00;
}

@media only screen and (max-width: 900px) {
    .card-body{
        height: 400px;
    }
  }